body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.mypic {
  display: block;
  margin: 6px auto;
  padding-top: 12px;
}
.myname {
  text-align: center;
}
.mybio {

}
ul.naked {
  list-style-type: none;
  margin: 0 !important;
}
ul.naked li {
  margin: 10px 0;
}
div.for-hire {
  width: 450px;
  margin: 0 auto;
  padding-top: 24px;
}
section.main-content {
  padding: 16px 12px;
}
section.main-content #post p {
  font-size: 16px;
  line-height: 1.7;
}

.project-details img {
  margin: 12px 0 0 0 !important;
  border: solid thin #666;
}

.centered-text {
  text-align: center;
}

/* Legacy CSS for old blog posts */


#comments .comment {
	border-bottom: dotted thin #E0E0E0;
	padding: 10px 0;
}

#comments .author-comment {
  background-color: #F0F0F0;
}

#post img {
  display: block;
  margin: 0 auto;
}