<!-- Footer -->
<footer class="container">
  <ul>
      <li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              RSS
          </a>
      </li>
      {% if site.linkedin_username %}
      <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              LinkedIn
          </a>
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
          <a href="https://github.com/{{ site.github_username }}">
              Github
          </a>
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter
          </a>
      </li>
      {% endif %}
      {% if site.facebook_username %}
      <li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
              Facebook
          </a>
      </li>
      {% endif %}
  </ul>
  <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
</footer>

<!-- Clicky web analytics -->
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66405120);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66405120ns.gif" /></p></noscript>
