---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    {% include nav.html %}
    <div class="container heading-container">
        <div class="site-heading">
            <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
            <p class="subheading">{{ page.description }}</p>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    {{ content }}
</div>

<hr>
