---
layout: default
---
<div itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}" />
    <meta itemprop="author" content="Jason Straughan" />

    <!-- Post Header -->
    <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
        {% include nav.html %}
        <div class="container post-heading">
            <h1 itemprop="name">{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading" itemprop="name">{{ page.subtitle }}</h2>
            {% endif %}
            <p>
                <span class="meta">Posted on <span itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</span></span>
                {% if page.image-credit %}
                <span class="image-credit">Image Credit: {{ page.image-credit }}</span>
                {% endif %}
            </p>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div itemprop="articleBody">
				{{ content }}
            </div>
            <hr>

            <ul class="pager">
                {% if page.previous.url %}
                <li class="previous">
                    <a href="{{page.previous.url streaming_mp4_url}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                </li>
                {% endif %}
                {% if page.next.url %}
                <li class="next">
                    <a href="{{page.next.url streaming_mp4_url}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                </li>
                {% endif %}
            </ul>

            <hr>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                var disqus_config = function () {
                    this.page.url = '{{site.url}}{{page.url}}';
                    this.page.identifier = '{{page.url}}';
                };

                (function() {
                    var d = document, s = d.createElement('script');

                    s.src = '//jdstraughan.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            <hr>

            Related Posts
            <ul class="related_posts">
            {% for related in site.related_posts %}
            <li itemscope="" itemtype="http://schema.org/BlogPosting">
                <a href="{{ related.url streaming_mp4_url }}" itemprop="url"><span itemprop="name">{{ related.title }}</span></a>
                <meta itemprop="author" content="Jason Straughan" />
                <meta itemprop="description" content="{{ related.description }}" />
                <meta itemprop="datePublished" content="{{ related.date | date: "%B %-d, %Y" }}" />
            </li>
            {% endfor %}
            </ul>
        </div>
    </article>

    <hr>
</div>
